body{
    background-color: hotpink
}

#imgtable{
    opacity: 0.5;
    alt:"image not found!";
    width: 300px;
    float: right;
}


.center {
    text-align: center;
    cursor: progress; 
}
.progress{
    cursor: progress; 
}